Config { font = "xft:'Fira Code'-12"
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "LightGrey"
       , position = Top
       , lowerOnStart = False
       , pickBroadest = False
       , persistent = True
       , hideOnStart = False
       , commands = [ Run XMonadLog
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%XMonadLog%"
       }
